In [69]:
name = input('what is your name')
age = int(input('what is your name'))
txt = f"Myself {name} I am {age}"
print(txt)

Myself asdf I am 4

In [7]:
old_age = int(input('enter you old age'))
new_age = old_age +2
print(new_age)

16

In [8]:
first_num = int(input('enter first number'))
second_num = int(input('enter second number'))
print(first_num+second_num)

24

string

In [ ]:
advice = '   monsaf_ali only your worked hard make you unique from other ,monsafali27@gmail.com'
print(advice.upper())
print(advice.capitalize())
print(advice.find('hard'))
print(advice.replace('monsaf_ali','ahmed'))


print('make' in advice)

list = advice.split(',')
print(advice.strip())

Arithmetic Operator

In [ ]:
# print(5/2)
# print(5//2)
# print(5*5)
# print(5+5)
# print(11%2)
# print(5**2)


i = 5
i *= 2
print(i)

result = 2+3/5
print(result)


print(3>=1)
print(3!=4)

print(2>3) or (3<4)

if_else Stetements

In [50]:
age = 15
if age >=18:
    print(f'yes you can vole your age is {age}+')
elif age <= 18 and age > 3:
    print('you are in school')
else:
    print('no you cannot caste vote')

you are in school

mini project calculator

In [54]:
first_num = int(input('enter your first number'))
operator = input('enter operator(+,-,/,*,%)')
second_num = int(input('enter your first number'))

if operator == '+':
    print(first_num+second_num)
elif operator == '-':
    print(first_num-second_num)
elif operator == '*':
    print(first_num*second_num)
elif operator == "/":
    print(first_num/second_num)
elif operator == '%':
    print(first_num%second_num)
else:
    print('wrong equation')

1

range

In [55]:
number = range(5)
print(number)

range(0, 5)

In [ ]:
i = 1
while i<20:
    print(i *"*")
    i += 1



# for x in range(10):
#     print('weleocme to ')

In [66]:
marks = [95,75,81,'math']
marks[0] = 100
marks.insert(0,99)
marks.append('eng')
print(marks)
print(marks[0])

[99, 100, 75, 81, 'math', 'eng']
99

In [67]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]

thislist.extend(tropical)

print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [72]:
students = ['monsaf','kamal','ali','murtaza']
for x in students:
    if x == 'ali':
        continue
    print(x)

monsaf
kamal
murtaza

In [78]:
# Tupes

marks = (95,91,34,55)
print(marks.count(95))

# set
marks = {95,95,34,55}
print(marks)

# set has store only unique values

1
{34, 95, 55}

In [86]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["horsepower"] = 240

In [87]:
x = thisdict.values()
print(x)

dict_values(['Ford', 'Mustang', 1964, 240])